{% extends "base.html" %}

{% block content %}

    <div style="padding-left: 350px; padding-right: 350px; padding-top: 100px">
        <div>
            {% if poster == None %}
            <img style=" height:200px " src="/static/images/sadimirPutin.jpg">
            {% else %}
            <img style=" height:200px " src={{poster}} alt="{{title}}">
            {% endif %}
        </div>
        <div>
            <h1>{{title}}</h1>
            <form method="POST" action="watchlist">
                <label style="display:inline-block;">IMDb Rating:  {{rating}} | 
                <input type="hidden" value="{{title}}" name="title" />
                <input type="hidden" value="{{plot}}" name="plot" />
                <input type="hidden" value="{{rating}}" name="rating" />
                <input type="hidden" value="{{poster}}" name="poster" />
                <input type="submit" value="Add to my list" />
            </form>
            <p>{{plot}}</p></label>
        </div>
    </div>

{% endblock %}