{% extends "base.html" %}

{% block content %}

    <div style="padding-left: 350px; padding-right: 350px; padding-top: 100px">
        <div>
            {% if poster == None %}
            <img style=" height:200px " src="/static/images/sadimirPutin.jpg">
            {% else %}
            <img style=" height:200px " src={{poster}} alt="{{title}}">
            {% endif %}
        </div>
        <div>
            <h1>{{title}}</h1>
            <p>IMDb Rating:  {{rating}} | 
                <form method="POST" action="/user/list">
                    <input type="hidden" value="{{title}}" />
                    <input type="submit" value="Add to my list" /></p>
            <p>{{plot}}</p>
        </div>
    </div>

{% endblock %}